body
{
    margin: 0;
    text-align: center;
    font-family: "SF Pro Display","SF Pro Icons",
    "Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: rgb(204, 240, 235); 
    
}
h1
{
    /*100%=16px   1em=16px*/
    margin-top: 0px;
    width: 100%;
    margin: auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    font-weight: 200;
    color: #0f8383;
    
}
.title{ /*the type writting text*/
    margin-top: 0;
    width: 100%;
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 2.5rem;
    font-weight: 150;
    color: #0f8383;
}
h3{
    color: #0f8383;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
}

.about{
font-size: 1.75rem;
padding-right: 100px;
padding-left: 100px;
padding-bottom:25px;
padding-top: 25px;
}
.development{
    font-size: 1.75rem;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom:25px;
    padding-top: 25px;
}
.top-container
{
    max-width: 100%;
    height: auto;
    position: relative;
    padding-top: 330px;
    padding-bottom: 100px;

}

.topCloud{
    position: absolute;
    right: 250px;
    top: 250px;
}
.bottomCloud{
    position: absolute;
    left: 350px;
    bottom: 400px;
}




/* Cursor */
.txt-type > .txt {
    border-right: 3px solid rgb(92, 92, 92);
    /* make the line smaller*/
  }


.Circular{
    
    border-radius: 100%;
    
}
 /* for the skills bar */



 .programingSkills{
    margin: auto;
    box-shadow: 3px 3px 5px 3px rgba(13, 74, 56,1);
    padding: 3rem;
    max-width: 800px;
    padding-bottom: 130px;
    margin-top: 130px;
    margin-bottom: 130px;
    width: 90%;
    font-size: 1.5rem;

 }
 :root{
     --colour1: rbg(0, 104, 64);
     --colour2: linear-gradient(90deg, rgba(31,166,126,1) 0%,
      rgba(13, 74, 56,1) 100%);

 }

 i{
     color: var(--colour1);
 }

/* style pictures of the skillls*/
 .skill-row{
    
    padding-right: 100px;
    padding-left: 100px;
 }
.skills{
    
    float: top;
    padding-bottom: 50px;
}

/*finish style pictures of the skills*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.skillsTabel{


    color: rgb(92, 92, 92);
    margin-bottom: 3rem;
    margin-top: 3rem;

}
.what{
    margin: .75rem 0 .1rem .75rem;
    color: rgb(92, 92, 92);
    font-weight: bolder;
}
.skill-container{
    background-color: rgb(221, 221, 221);
    border-radius: 1rem;
    height: 35px;
}

.skill{
    background: var(--colour2);
    height: 100%;
    font-size: 1.125rem;
    color: white;
    border-radius: 1rem;
}
span{margin :auto}

.s1{width:85% ;}
.s2{width:80% ;}
.s3{width:55%;}
.s4{width:75% ;}
.s5{width:45% ;}
.s6{width:70% ;}

.load{
    animation: loading 1s linear;

}
@keyframes loading{
    0%{width: 0%;}
}
 /* finish the skills bar */
 .btn {
    margin:100px;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    font-family: "SF Pro Display","SF Pro Icons",
    "Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #ffffff;
    font-size: 26px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }


  .getintouchtext{
    font-size: 1.75rem;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 25px;
  }
  .getintouchtext3{
    font-size: 1.75rem;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 25px;
    padding-bottom: 50px;

  }

  .bottom-container{
    font-size: 1.75rem;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #0f8383;
    margin-top: 30px;
    
  }

  .footer-link{
      color: #f5f1f1;
      padding-left: 10px;
      padding-bottom: 10px;
      text-decoration: none;
     
  }
  .footer-link:hover{
      color: #5eb9c0;
  }

  .copyRight{
      padding-top: 10px;
      color: #f5f1f1;
      
  }